/* nav bar */
.right {
    float: right;
}

.left {
    float: left;
}

#nav {
    display: block;
    background-color: white;
    display: inline-block;
    width: 98vw;
    border: 3px solid #721d60;
    border-radius: 5px;
    margin: 6px;
}

/* main section */

body {
    font-family: arial;
    background-color: white;
}

#quizBody {
    text-align: center;
    padding: 12vh;
}

h4 {
    padding: 10px 8px 10px 8px;
}

a {
    text-decoration: none;
    color: black;
}

button {
    border: none;
    background-color: #aa2b8e;
    color: white;
    border-radius: 5px;
    padding: 10px 16px 10px 16px;
    font-size: 17px;
    font-family: arial;
    margin: 4px;
}

button:hover {
    transition-duration: 0.4s;
    background-color: #721d60;
}

#quiz {
    text-align: center;
}